.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

.navbar input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 250px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-icons img {
  width: 25px;
  cursor: pointer;
}
